:root {
    --blue: #aed3d1;
}

html, body {
    /* background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: var(--blue);
    height: 99%;
        }

        

        .computerCard {
            display: flex;
            
            padding: 25px;
            
            width: 170px;
                height: 170px;
            transition: 0.5s;
            /* border: thick solid rgb(50, 50, 50) !important;
            background-color: rgb(90, 90, 90);
            border-radius: 12px; */
        }

        .playerImage{
            width: 100px;
            height: 100px;
            padding: 25px;
            margin-left: 100px;

        }

        .computerImage{
            
            width: 100px;
            height: 100px;
            padding: 25px;
            margin-right: 100px;

        }

        .playerCard {
            display: flex;
            
            
            padding: 25px;
            
            width: 170px;
                height: 170px;
            transition: 0.5s;
            /* border: thick solid rgb(50, 50, 50) !important;
            background-color: rgb(90, 90, 90);
            border-radius: 12px; */
        }
    

        #rock, #paper, #scissors {
            background-color:rgb(166, 166, 166);
            border: 0px;
            background-size:auto;
            padding: 12px;
            border-radius: 12px;
            border: thick solid rgb(40, 40, 40);
            border-radius: 50%;   
            transition: .1s;
        }
    
        #rock:hover, #paper:hover, #scissors:hover {
            background-color:rgb(166, 166, 166) !important;
            border: thick solid #8fffcb !important;
            transition: .1s;
        }

        .topContainer {
            display: flex;
            background-color: var(--blue);
            height: 33%;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 120px;
            

        }

        .leftScore {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 100%;
            background-color: var(--blue);
            flex-direction: column;
            font-size: 50px;




        }

        .betweenScore {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            justify-content: center;
            justify-items: center;
            background-color: var(--blue);
            
        }

        #roundLabel {
            background-color: var(--blue);
            display: flex;
            font-size: 80px;
            justify-content: top;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        #outcomeLabel {
            background-color: var(--blue);
            display: flex;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 28px;
         height: 50%;   
            justify-content: center;
            vertical-align: bottom;

        }


        .rightScore {
            display: flex;
            flex-direction: column;
            font-size: 50px;
            width: 25%;
            height: 100%;
            align-items: center;
            justify-content: center;
            background-color: var(--blue);
        }


        .divTwo {
            display: flex;
            background-color: var(--blue);
            height: 33%;
            justify-content: center;
        }

        .leftCard {
            display: flex;
            background-color: var(--blue);
            width: 45%;
        justify-content: space-between;
        align-items: center;
        }

        .betweenCards {
            display: flex;
            justify-content: center;
            background-color: var(--blue);
            width: 10%;
            color: white;
            font-size: 50px;
            align-items: center;
        }

        .rightCard {
            justify-content: space-between;
            align-items: center;
            display: flex;
            background-color: var(--blue);
            width: 45%;
        }
        
        .divThree{
            display: flex;
            background-color: var(--blue);
            height: 16%;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 50px;
        }
        
        .divFour{
            background-color: var(--blue);
            display: flex;
            
            height: 16%;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 50px;
        }
        
        
    .gameArea {
        display: flex;
        background-color: rgb(90, 90, 90);
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    
    }

    .round {
        
          display: flex;
            font-size: 100px;
            text-align: center;
            justify-content: center;
            
            
            color: rgb(228, 228, 228);
            }
    
    .gameCards {
        display: flex;
        background-color: rgb(90, 90, 90);
            flex-direction: row;
            justify-content: center;
            align-items: center;  
            
    }


    .vs {
        background-color: rgb(90, 90, 90);
font-size: 50px;
color: white;
margin-left: 25px;
margin-right: 25px;

transition: 0.5s;
    }


    

    

    .buttons {
        display: flex;
    background-color: rgb(90, 90, 90);
        
        flex-direction: row;
        justify-content: center;
        
        align-items: center;
        
    }

    #uiText {
        display: flex;
        background-color: rgb(90, 90, 90);

            flex-direction: row;
            justify-content: center;
            
            align-items: center;  
    }

    .pScore {
        background-color: rgb(90, 90, 90);
        
            
        

    }

    .cScore {
        background-color: rgb(90, 90, 90);
        
        
        
    }

        #uiOutcome {
            display: flex;
            align-items: center;
            background-color: rgb(90, 90, 90);
            justify-content: center;
            height: auto;
            margin: 0 auto;
            width: 400px;
            
        
    }

    #uiCurrentScore {
        display: flex;
        align-items: center;
        background-color: rgb(90, 90, 90);
        justify-content: center;
        
        margin: 0 auto;
        width: 400px;
        

    }

    #score {

    }
    button {
        margin: 52px;
    }

    

    #reset {
        
        
        font-weight: 600;
        border-radius: 3px;
        padding: 24px 48px;
        border: 0;

        color: #1e362e;
        background: #8fffcb;
        line-height: 1.15;
        font-size: 16px;
    }
        #reset:hover 
        {
            transition: all .1s ease;
            box-shadow: 0 0 0 0 #fff, 0 0 0 3px #8fffcb;
        }
    
    

    .scoreBoard {
        
            display: flex;
            background-color: green;
                flex-direction: row;
                justify-content: center;
                align-items: center;  
            }
    
    .pScore{
        display: flex;
        font-size: 100px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: rgb(228, 228, 228);

    }
    .cScore{
        display: flex;
        font-size: 100px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: rgb(228, 228, 228);
        }

       
        